.wrapper{
    width: 100%;
    font-family: 'Montserrat', sans-serif;   
}

.head{
    width: 100%;
    height: 750px;
    background-image: url(/img/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

.darker{
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 24, 0.73);
   }

.menu{
    width: 100%;
    height: 26px;
 }

.menu > ul{
display: flex;
justify-content: flex-end;
}

.menu > ul > li{
flex: 2;
display: flex;
justify-content: center;
}

.menu> ul a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}

.menu> ul a:hover{
    color: #87D9F1;
  }

.moto1{
    display: flex;
    flex-direction: column;
    flex: 7;
    margin-top:263px;
    margin-left: 127px;
    color:#FFFFFF;
    font-size: 52px;
    line-height: 0.7;
}

.moto2{
    flex: 6;
    color:#FFFFFF;
    font-size: 15px;
    padding-left: 5px;
    }

.moto3{
    flex:8;
    color:#FFFFFF;
    font-size: 28px;
     }

.baseInfo{
    width: 100%;
    height: 835px;
    background-color: #2c2c2c;
    position: relative;
}

.Blocks{
    width:100%;
    display: flex;
    position: absolute;
    top: -72px;
    justify-content: space-around;
}
.block{
    width: 345px;
    height: 140px;
    color: #397C8F;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(229, 229, 229, 0.18);
    background-color: white;
    border-radius: 6px;
}

.block p {
    margin: 5%;
    margin-top: 10%;
    align-items: stretch;
    height: 50px;
}
.pointer {
    display: flex;
    margin: 5%;
    margin-left: 75%;
}

.moto4{
    display: flex;
    justify-content: space-around;
    color:#FFFFFF;
    font-size: 1.8rem ;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-top: 180px;
    padding-bottom: 120px;
       }
   
.moto5{
    display: flex;
    justify-content: center;
    padding-top:160px;
    color:#FFFFFF;
    font-size: 28px;
   }

.labels1{
 display: flex;
justify-content: space-around;
}

.labels1 > div {
    width: 340px;
    text-align: center;
}
.labels1 p {
    margin-top: 3rem;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.objects{
    display:flex;
    width: 100%;
    height: 809px;
    flex-wrap: wrap;
    }

.objects  a{
    display: flex;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    padding-top:300px;
    padding-left: 50px;
    }

.veil{
    width: 100%;
	height: 100%;
	background-color: rgba( 16, 18, 24, 0.63);
}

.one{
     width:33%;
    background: url(/img/1.png) no-repeat center / cover;
 }

.two{
    width:67%;
    background: url(/img/2.png) no-repeat center / cover;
}


.three{
    width:67%;
    background: url(/img/3.png) no-repeat center / cover;

}

.four{
    width:33%;
    background: url(/img/4.png) no-repeat center / cover;
}


.little {
      padding-top: 50;
        }

.little svg {
    margin-left: 25px;
    padding-top:5px;
	visibility: hidden;
}


.bigger svg {
    margin-left: 25px;
    padding-top:5px;
	visibility: hidden;
}

.one:hover a {
    color: #0ff;
    font-size: 25px;
    }

.one:hover svg {
    visibility: visible;
}

.two:hover a {
    color: #0ff;;
    font-size: 25px;
  }

.two:hover svg {
    visibility: visible;
}

.three:hover a {
    color: #0ff;;
    font-size: 25px;
  }

.three:hover svg {
    visibility: visible;

}.four:hover a {
    color: #0ff;;
    font-size: 25px;
  }

.four:hover svg {
    visibility: visible;
}

.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 1170px;
    background-color: #2c2c2c;
}

.moto6{
    width: 100%;
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
   }

.moto7{
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height:10; 
}

.moto8{
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 2;
}

.moto9{
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 6;
}

.fields {
    width:100%;
    margin: 20px auto;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
}
.input {
    display: inline-block;
    width: 480px;
    margin: 10px auto;
    border-radius: 4px;
}
input {
    height: 30px;
    color: rgb(158, 158, 158);
}
textarea {
    color: rgb(158, 158, 158);
    padding-top: 15px;
    height: 90px;
}
label {
    font-size: 0.9rem;
}
.checktext {
    margin-left: 5px;
    font-size: 0.85rem;
}
.check {
    display: flex;
    height: 20px;
    width: 10%;
    margin: 0;
}
.check_input {
    display: flex;
}
#button1 {
    font-weight: 200;
    align-self: center;
    text-align: center;
    width: 170px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    background-color: #528290;
    border: 0 solid;
    color: white;
    letter-spacing: 0.1em;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}
.foot{
    display: flex;
    width: 100%;
    height: 390px;
    color:#FFFFFF;
    background-color: #1E1C1C;
}

.moto10{
    width:35%;
    padding-top: 124px;
   }

.moto11{
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.moto12{
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width:65%;
      font-size: 14px;
       line-height: 2;
      padding-top: 124px;

}
.labels2{
    padding-top: 24px;
    display: flex;
    justify-content: space-evenly;
    }

.menu_mob, .Blocks_mobile, .moto2_mob, .moto8_mob, 
.moto11_mob, .tel_mob,.moto12_mob, .labels2_mob{
    display: none;
}

  
@media (max-width: 992px){


.nomobile{
    display: none;
}

.four{
    display: none;
}

.menu_mob{
    width: 100%;
    display: inline-block;
}

.burger {
    display: inline-block;
    margin-left: 10px;
 } 
  
.burger > span {
     width: 32px;
     border: 1.5px solid #fff;
     border-radius: 2px;
     background-color: #fff;
     display: block;
     margin-bottom: 9px; 
 }
.burger_name {
    height: 25px;
    display: flex;
    color: white;
    font-size: 1.3rem;
    margin-left: 48px;
    margin-top:-32px;
    text-transform: uppercase;
        }

 #person {
    height: 35px;
    margin-top:-37px;
    margin-right:10px;
    float: right;
}
.moto2_mob{
        color: white;
        font-size: 2.2rem;
        text-align:center;
        display: flex;
         justify-content: center;
        margin-top: 100px;
       }


.baseInfo{
        height: 1100px;
            }
    

.Blocks_mobile {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        color: white;
        padding-top: 70px;
        
    }
.block_mobile {
        margin: 15px 0;
        width: 100%;
        min-width: 290px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
        background-color: #528290;
        border: 0 solid;
        color: white;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    }
.block_mobile p {
        padding: 26px 20px 20px 20px;
        width: 100%;
        height: 80px;
        font-size: 1rem;
    }
    
.moto4 {
        padding: 0;
        padding-top:100px;
        color: white;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
    }

.labels1 {
            width: 60%;
            margin: 70px auto;
            display: flex;
            flex-direction: column;
        }
    .labels1 > div {
            width: 100%;
            text-align: center;
            margin: 30px 0;
        } 

        .moto5 {
            padding: 0;
        
            color: white;
            font-size: 1.8rem;
            text-align: center;
            letter-spacing: 0.1em;
            display: flex;
            justify-content: center;
        }

.objects{
  display:flex;
  width: 100%;
  height: 1216px;
  flex-direction: column;
            }
.one{
  width:100%;
  height:405px;
            }
           
           
           
.two{
   width:100%;
   height:407px;
         }
           
           
.three{
     width:100%;
     height:404px;
           }

.contacts{
    height: 790px;
        }

.moto7{
    line-height: 5;
}

.moto6{
  padding-top: 20px;
      }

.moto8_mob{
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 2;
        }

#button1 {        
    width:270px;
    margin-top: 20px;
}

.foot{
 flex-direction:column;
}

.moto11_mob{
   padding-top:50px; 
   padding-left: 20px;
   display: flex;
   font-size: 24px;
   justify-content: left;
}

.tel_mob{
    padding-top:30px; 
    padding-left: 20px;
    display: flex;
    font-weight: 500;
    font-size: 24px;
    color:#528290;
    justify-content: left;
 }

 .moto12_mob{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    line-height: 2;
    padding-top: 30px;
    margin-left: -20px;
}

.foot{
  height:490px;  
}

.labels2_mob{
    width:55%;
    padding-top:30px;
    padding-left:30px;
    display:flex;
    justify-content:space-between;
    }


 .darker{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 24, 0.73);
   }
    }

@media (max-width: 520px){

.input {
    width: 90%;
                  }
    }